#beneficios {
    padding: 80px 40px;

    .lista-beneficios {
        color: #093366;

        h1 {
            font-size: 26px;
            margin: 20px 0;
        }

        p {
            line-height: 1.4;
        }

        img {
            height: 40px;
        }

        li {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 750px) {
    #beneficios {
        padding: 180px 0 139px;

        .lista-beneficios {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            h1 {
                font-size: 26px;
                margin: 20px 0;
            }

            li {
                margin-bottom: 40px;
            }
        }
    }
}
