.formacoes-bg {
    background-image: url(../../img/background/background-v.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

#formacoes {
    padding: 80px 40px;
    color: #fff;

    .formacoes-desc_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .formacoes-desc {

        h2 {
            font-size: 16px;
            font-weight: 600;
        }
        
        h1 {
            font-size: 40px;
            font-weight: 900;
            margin: 15px 0 18px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }
    }
    .lista-formacoes {
        display: flex;
        flex-direction: column;  

        div > li {
            margin-top: 32px; 

        li {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 1.8;
            color: #e5f1ff;
            font-size: 14px;
        }
        .lista-formacoes_ver-escola {
            text-decoration: underline;
        }
        a:hover {
            color: #c3c3c3;    
            }
        }
        header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                border-radius: 4px;
                margin-right: 10px;
            }
        }
        div {
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: 32px;
        }
        .lista-formacoes_titulo {
            text-transform: uppercase;
            font-weight: 700;
        }        
    }
}

.lista-formacoes div:nth-child(1) > li:nth-child(1) {
    .lista-formacoes_titulo {
        color: #00c86f;
    }
}

.lista-formacoes div:nth-child(1) > li:nth-child(2) {
    .lista-formacoes_titulo {
        color: #6bd1ff;
    }
}

.lista-formacoes div:nth-child(1) > li:nth-child(3) {
    .lista-formacoes_titulo {
        color: #9cd33b;
    }
}

.lista-formacoes div:nth-child(2) > li:nth-child(1) {
    .lista-formacoes_titulo {
        color: #f16165;
    }
}

.lista-formacoes div:nth-child(2) > li:nth-child(2) {
    .lista-formacoes_titulo {
        color: #dc6ebe;
    }
}

.lista-formacoes div:nth-child(2) > li:nth-child(3) {
    .lista-formacoes_titulo {
        color: #ffba05;
    }
}
.lista-formacoes div:nth-child(2) > li:nth-child(4) {
    .lista-formacoes_titulo {
        color: #ff8c2a;
    }
}

@media(max-width: 1000px) {
    #formacoes {
        .lista-formacoes {
            div {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
                gap: 32px;
            }
        }
    }
}