@import "../abstract/variaveis";

.formacoes-bg {
    background-image: url(../../img/background/background-v.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#formacoes {
    padding: 80px 40px;
    color: $branco;

    .formacoes-desc_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: 3s;
    }
    .formacoes-desc {
        h2 {
            font-size: 16px;
            font-weight: 600;
            font-family: monospace;
        }

        h1 {
            font-size: 40px;
            font-weight: 900;
            margin: 15px 0 18px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }
    }
    .lista-formacoes {
        display: flex;
        flex-direction: column;

        div > li {
            margin: 32px 0;

            li {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 1.8;
                color: $cinza-claro;
                font-size: 14px;
            }
            .lista-formacoes_ver-escola {
                text-decoration: underline;
            }
            a:hover {
                color: #c3c3c3;
            }
        }
        header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            img {
                border-radius: 4px;
                margin-right: 10px;
            }
        }
        div {
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            gap: 32px;
        }
        .lista-formacoes_titulo {
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.3;
        }
    }
}

@mixin coresFormacoes($numero, $numero2, $cor) {
    .lista-formacoes div:nth-child(#{$numero}) > li:nth-child(#{$numero2}) {
        .lista-formacoes_titulo {
            color: $cor;
        }
    }
}

@include coresFormacoes(1, 1, $cor-1);
@include coresFormacoes(1, 2, $cor-2);
@include coresFormacoes(1, 3, $cor-3);
@include coresFormacoes(2, 1, $cor-4);
@include coresFormacoes(2, 2, $cor-5);
@include coresFormacoes(2, 3, $cor-6);
@include coresFormacoes(2, 4, $cor-7);

@each $numero, $hex in $cores {
    [data-card="#{$numero}"] {
        color: $hex;
    }
}

@media (max-width: 1000px) {
    #formacoes {
        .formacoes-desc {
            h2 {
                color: #167bf7;
            }
            h1 {
                font-size: 36px;
            }
        }
        .lista-formacoes {
            div {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
                gap: 32px;
            }
        }
    }
}

@media (max-width: 700px) {
    #formacoes {
        .formacoes-desc_wrapper {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 715px) {
    #formacoes {
        .lista-formacoes {
            div {
                display: grid;
                grid-template-columns: 32% 32% 33.3%;
                overflow: hidden;
                gap: 24px;
            }
        }
    }
}

@media (max-width: 600px) {
    #formacoes {
        .lista-formacoes {
            div {
                margin-top: 36px;
                grid-template-columns: 1fr;

                > li {
                    margin: 8px 0;
                }
            }
            div:last-child {
                margin-top: 20px;
            }
        }
        .formacoes-desc_wrapper {
            grid-template-columns: 1fr;
            transition: 3s;
        }
    }
}
