@import "../abstract/variaveis";

body {
    overflow-x: hidden;
}

.header-bg {
    position: relative;
    background-image: radial-gradient(
        circle at 95% 68%,
        #0a3871,
        $azul-escuro 58%
    );
    margin-bottom: -1em;
    height: 46em;

    &::after {
        content: "";
        width: 100vw;
        height: 100px;
        background-color: $branco;
        display: block;
        transform: rotate(358deg);
        position: absolute;
        bottom: -80px;
    }
}

#header {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 34px 30px;
    margin: 0 auto;

    #inputBusca {
        background-color: $azul-escuro;
        color: $branco;
        height: 52px;
        border: 1px solid #828c99;
        border-radius: 4px;
        width: 100%;
        padding-left: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;

        &::placeholder {
            color: #919199;
        }
    }

    #iconeBusca {
        position: absolute;
        top: calc(50% - 9px);
        right: 20px;
        cursor: pointer;
    }

    .header-list {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        justify-content: end;

        .header-list_link {
            padding: 8px 12px 8px 0;
        }

        #btn-matricula {
            background-color: #a3ffbf;
            padding: 20px 40px;
            border-radius: 30px;
            color: $azul-escuro;
            font-size: 13px;
            margin-left: 34px;
            white-space: nowrap;
            transition: 0.3s;
        }
    }
}

@media (max-width: 1200px) {
    #header {
        .header-list {
            .header-list_link {
                padding: 8px 25px 8px 0px;
            }
        }
    }
}

@media (max-width: 1000px) {
    #header {
        .header-list_link {
            padding: 8px 12px 8px 0px !important;
            margin-right: 8px;
        }

        #btn-matricula {
            font-size: 12px;
        }
    }
}

@media (max-width: 1100px) {
    #btn-matricula {
        padding: 13px 25px !important;
    }
}

@media (max-width: 750px) {
    #header {
        div > img {
            width: 80px;
        }
        #inputBusca,
        #iconeBusca {
            display: none;
        }
        .header-list {
            position: relative;
            margin-top: 0 !important;
            padding: 17px 0;
            border: 1px solid #fff;
            border-left: none;
            border-right: none;
            justify-content: space-around !important;
            div {
                position: absolute;
                bottom: 100%;
                height: 70px;
                left: calc(100% - (225.34px - 8px));
            }
            .header-list_link {
                width: 30%;
            }
        }
    }
}

@media (max-width: 992px) {
    #header {
        grid-template-columns: 1fr;

        #inputBusca {
            height: 60px;
            font-size: 14px;
            font-weight: 600;
        }

        nav,
        div {
            width: 100%;
        }

        > div {
            justify-content: space-between;

            img {
                margin-right: 55px;
            }
        }

        .header-list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 25px;

            div {
                width: fit-content;

                span {
                    display: none;
                }

                #btn-matricula {
                    margin-left: 8px;
                    padding: 15px 23px !important;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    #header .header-list div #btn-matricula,
    body > div > header > nav > ul > div > li:nth-child(1) > a {
        margin: 0 !important;
    }
    #header {
        .header-list {
            div {
                left: calc(100% - 201.34px) !important;
            }
        }
    }
}
