$cor-1: #00c86f;
$cor-2: #6bd1ff;
$cor-3: #9cd33b;
$cor-4: #f16165;
$cor-5: #dc6ebe;
$cor-6: #ffba05;
$cor-7: #ff8c2a;
$branco: #fff;
$cinza-claro: #e5f1ff;
$azul-escuro: #051933;

$cores: (
    "1": $cor-1,
    "2": $cor-2,
    "3": $cor-3,
    "4": $cor-4,
    "5": $cor-5,
    "6": $cor-6,
    "7": $cor-7,
);
